extends ../layout

block content
    .center-block.auth-box
        h1 Quiz App
        p Welcome to Quiz App, please Log In:
        if message.length !== 0
            .alert.alert-danger= message
        form(role='form', action="/login", method="post")
            input.form-control(type='text', name='username', placeholder='UCID', required='', autofocus='').
            input.form-control(type='password', name='password',placeholder='Password', required='')
            label.checkbox.text-center
                input(type='checkbox', value='remember-me')
                | Remember Me
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
