.row
    .col-md-9
        p.text-center This is the Main Column


        form
            .form-group
                label(for='username') Room
                input.form-control(type='text', name='room', placeholder='Room', autofocus='', ng-model='room')
            .form-group
                button.btn.btn-lg.btn-primary.btn-block(type='submit' ng-click='startRoom()') Start Room
    .col-md-3
        p.text-center Students Connected
        ul.list-group
            li.list-group-item(ng-repeat="student in students") {{student}}
