.row
    .col-md-9
        div(ng-if='!manager.inSession')
            .well(ng-show='API.sessions.length > 0')
                h5.text-center You currently have {{API.sessions.length}} sessions in progress.
                div(ng-repeat='session in API.sessions')
                    .row
                        p.col-md-4 {{session.course.title}} : {{session.date | date : "MM/dd h:mm a"}}
                        button.btn.btn-sm.btn-success.col-md-3(ng-click='manager.resumeSession(session)') Rejoin Session
                        button.btn.btn-sm.btn-warning.col-md-3.col-md-push-1(ng-click='API.endSession(session._id)') End Session

            form(name='start_session_form')
                h6.text-center To begin, select a course and click 'Start Room'
                .form-group
                    label(for='username') Course
                    select.form-control(required='', ng-model='course', ng-options='course.title for course in API.courses')
                        option(value='') Select Course
                .form-group
                    button.btn.btn-lg.btn-primary.btn-block(type='submit', ng-click='manager.startSession(course)', ng-disabled='start_session_form.$invalid') Start Room

        div(ng-if='manager.inSession')
            p.lead.text-center {{manager.session.course.title}} Started At: {{manager.session.date | date : "MM/dd h:mm a"}}
            .row
                div.col-md-6
                    div.btn-toolbar.pagination-centered
                        button.btn.btn-sm.btn-danger(type='button', ng-click='manager.leaveSession()') Leave Session
                        button.btn.btn-sm.btn-warning(type='button', ng-click='toggleQR()') Show QR Code
                div.col-md-6
                    form.form-inline
                        .form-group
                            select.form-control(ng-model='currentQuestion', ng-options='question.title for question in manager.questions')
                                option(value='') Choose Question
                        .form-group
                            button.btn.btn-sm.btn-success(ng-disabled='currentQuestion == null || manager.assignment != null', ng-click='manager.assignQuestion(currentQuestion)') Assign Question
            div(ng-if='manager.assignment != null').interior.text-center
                //div.progress
                    div.progress-bar.progress-bar-striped.active(style="width: 60%;") 60%
                h1 {{manager.assignment.question.prompt}}
                h3 Answer Due {{manager.assignment.remaining}}
            div(ng-if='show_qr').text-center.interior
                qrcode(data='{{manager.session.roomId}}', size='500')
                p {{manager.session.roomId}}
    .col-md-3
        p.text-center Students Connected
        ul.list-group
            li.list-group-item(ng-repeat="record in manager.attendanceRecords | filter: {connected: true}") {{record.student.name.full}}
            //li.list-group-item.list-group-item-warning(ng-show="manager.students.connected.length == 0") No Students Connected
        p.text-center Students Disconnected
        ul.list-group
            li.list-group-item(ng-repeat="record in manager.attendanceRecords | filter: {connected: false}") {{record.student.name.full}}
            //li.list-group-item.list-group-item-success(ng-show="manager.students.disconnected.length == 0") No Students Disconnected
