.row
    .col-md-9
        div(ng-show='!manager.inSession')
            .well(ng-show='API.sessions.length > 0')
                h5.text-center You currently have {{API.sessions.length}} sessions in progress.
                div(ng-repeat='session in API.sessions')
                    .row
                        p.col-md-4 {{session.course.title}} : {{session.date | date : "MM/dd h:mm a"}}
                        button.btn.btn-sm.btn-success.col-md-3(ng-click='manager.resumeSession(session)') Rejoin Session
                        button.btn.btn-sm.btn-warning.col-md-3.col-md-push-1(ng-click='API.endSession(session._id)') End Session

            form(name='start_session_form')
                h6.text-center To begin, select a course and click 'Start Room'
                .form-group
                    label(for='username') Course
                    select.form-control(required='', ng-model='course', ng-options='course.title for course in API.courses')
                .form-group
                    button.btn.btn-lg.btn-primary.btn-block(type='submit', ng-click='manager.startSession(course)', ng-disabled='start_session_form.$invalid') Start Room

        div(ng-show='manager.inSession')
            p.text-center Current Session: {{manager.session.course.title}} Started At: {{manager.session.date | date : "MM/dd h:mm a"}}


    .col-md-3
        p.text-center Students Connected
        ul.list-group
            li.list-group-item(ng-repeat="student in manager.students") {{student}}
