//-
 Trevor Summerfield
 CS 490-001 Fall 2015
 Quiz Project

//- Course Manager Partial

.row
    .col-md-8
        p.lead Your Courses
        .row
            p.col-md-3 Course Number
            p.col-md-3 Section
            p.col-md-3 Title
            p.col-md-3 Instructor
        .row(ng-repeat="course in API.courses")
            p.col-md-3 {{course.number}}
            p.col-md-3 {{course.section}}
            p.col-md-3 {{course.title}}
            p.col-md-3 {{course.instructor.name.full}}
    .col-md-4
        p.lead New Course
        form(name='new_course_form')
            .form-group
                label Course Number
                input.form-control(type='text', name='course_number', placeholder='CS100', autofocus='', required='', ng-model='new_course.number')
            .form-group
                label Course Section
                input.form-control(type='text', name='course_numer', placeholder='001', autofocus='', required='', ng-model='new_course.section')
            .form-group
                label Course Title
                input.form-control(type='text', name='course_title', placeholder='Roadmap to Computing', autofocus='', required='', ng-model='new_course.title')
            .form-group
                button.btn.btn-primary.btn-block(type='submit' ng-click='API.postCourse(new_course) && (new_course = null)', ng-disabled='new_course_form.$invalid') Create Course
