//-
 Trevor Summerfield
 CS 490-001 Fall 2015
 Quiz Project

//- Help Page

h4 Quiziato™ System Help Page

p The Quiziato™ system allows classroom instructors to track the participation and gauge the understanding of their students in real time.

.row
    .col-md-6
        h5 System Functions

        dl
            dt Classroom
            dd.text-justify Start and control course sessions. Allow students to check in for attendance, and assign questions to them in real time.

            dt Questions
            dd.text-justify Create and manage the questions and answers for a given course. Archive old, unneeded questions.

            dt Sessions
            dd.text-justify View past session data, including student attendance, question responses, and correctness.

            dt Courses
            dd.text-justify Create a new course, which acts as a container for course sessions, questions, and attendance and answer records.

    .col-md-6

        h5 Terms

        dl
            dt Session
            dd A session is an instance of a course meeting. A session may have mandatory or optional attendance. Students check in to the session using their mobile devices by scanning the QR code presented by the instructor's dashboard. Graded or ungraded questions may be assigned during a session.

            dt Question
            dd A question is a combination of a question prompt and 2-5 multiple choice answers. One answer is marked as correct, and when the question is assigned to students, they are able to choose one of the answers.

            dt Attendance
            dd A student is marked as having attended a session when they use their mobile device to scan that session's unique QR code. The student can then rejoin the session using their mobile device at any point, unless the instructor ends the session.

            dt Assignment
            dd An assignment is an instance of a question being assigned to the students during a session. The assignment may be graded or ungraded, and has a configurable time limit.
