//-
 Trevor Summerfield
 CS 490-001 Fall 2015
 Quiz Project

//- Main Landing Partial

.jumbotron
    h1 Welcome to
        span
        span.glyphicon.glyphicon-education
        span  iClicker2000™
    p To begin a class session, enter the Classroom.
