//-
 Trevor Summerfield
 CS 490-001 Fall 2015
 Quiz Project

//- Question Manager Partial
p.lead Manage Questions
div.well
    form-group.form-group
        select.form-control(required='', ng-model='currentCourse', ng-options='course.full for course in API.courses')
            option(value='') Select Course

.row(ng-show="currentCourse != null")
    .col-md-8
        p.lead Questions

        label Choose Question
        .row
            .col-md-8
                ui-select(ng-model="$parent.currentQuestion")
                    ui-select-match(placeholder="Select or search...")
                        span(ng-bind="$select.selected.title")
                    ui-select-choices(repeat="question in (questions | filter: $select.search)")
                        span(ng-bind="question.title")
                p.help-block Select from drop-down or type to search
            .col-md-4
                button.btn.btn-danger(ng-click='deleteQuestion(currentQuestion._id)', ng-disabled='currentQuestion == null')
                    span.glyphicon.glyphicon-trash
                    span  Delete Question
        div(ng-if='currentQuestion != null')
            div
                span.bold Title:
                span  {{currentQuestion.title}}
            div
                span.bold Prompt:
                span  {{currentQuestion.prompt}}
            div(ng-repeat="option in currentQuestion.options track by $index")
                span.bold Option {{$index+1}}:
                span  {{option.text}}
                span(ng-if='option._id == currentQuestion.correctOption')  ✓

    .col-md-4
        p.lead.text-center New Question
        form(name='new_question_form')
            .form-group.form-group-sm
                label.control-label Question Title
                input.form-control(type='text', name='question_title', placeholder='Title', autofocus='', required='', ng-model='new_question.title')
                span.help-block Question Title for use in instructor control panel.
            .form-group.form-group-sm
                label.control-label Question Prompt
                input.form-control(type='text', name='question_prompt', placeholder='Prompt', required='', ng-model='new_question.prompt')
                span.help-block Students see this when assigned the question.
            .form-group.form-group-sm(ng-repeat="option in new_question.options track by $index")
                label.control-label Option {{$index+1}}
                .row
                    .col-sm-10
                        input.form-control(type='text', placeholder='Answer Text {{$index+1}}', required='', ng-model='new_question.options[$index].text')
                    .col-sm-2
                        input(type="radio", ng-model="new_question.correctOption", value="{{$index}}")
            .form-group.form-group-sm
                button.btn.btn-block(ng-click='addOption()', ng-disabled='new_question.options.length >= 5') Add Option
            .form-group
                button.btn.btn-primary.btn-block(type='submit' ng-click='postQuestion()', ng-disabled='new_question_form.$invalid || new_question.correctOption == null') Create Question

