h5 Review Previous Sessions
div.well
    form-group.form-group
        select.form-control(required='', ng-model='currentCourse', ng-options='course.title for course in API.courses')
            option(value='') Select Course

div.well
    form-group.form-group
        select.form-control(ng-model='currentSession', ng-options='session as getLabel(session) for session in sessions | orderBy: "-date"')
            option(value='') Choose Session

.now(ng-repeat='record in sessionDetail.attendance | orderBy: "record.student.name.last"')
    p.col-md-4 {{record.student.name.last}}, {{record.student.name.first}}
    p.col-md-4 {{record.time | date: "MM/dd h:mm a"}}
