//-
 Trevor Summerfield
 CS 490-001 Fall 2015
 Quiz Project

//- Dashboard Server Template For Client Dashboard Angular Application

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title Quiz App
        block css
            link(rel='stylesheet', href='/css/style.css')
            link(href='/components/bootswatch-dist/css/bootstrap.css', rel='stylesheet')
        block js
            if ENV_DEVELOPMENT
                script(src='http://localhost:35729/livereload.js')

        base(href="/dashboard/")
    body
        div(ng-app='dashboard')
            div(ng-controller='dashboardController')
                .navbar.navbar-default(role="navigation")
                    .container
                        .navbar-header
                            a.navbar-brand(href="/dashboard") Quiz App

                        ul.nav.navbar-nav
                            li
                                a(href="classroom") Classroom
                            li
                                a(href="questions") Questions

                            li
                                a(href="courses") Courses

                        ul.nav.navbar-nav.navbar-right
                            li
                                p.navbar-text {{socket.connected ? 'Connected' : 'Disconnected' }}
                            li
                                p.navbar-text Logged in as #[b #{user.name.full} ]
                            li
                                a(href='/logout') Log Out
                .container
                    div(ng-view)




    script(src='/socket.io/socket.io.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/angular-bootstrap/ui-bootstrap.js')
    script(src='/components/angular-socket-io/socket.js')
    script(src='/components/angular-qrcode/angular-qrcode.js')
    script(src='/components/qrcode-generator/js/qrcode.js')
    script(src='/js/dashboard/app.js')
